@model WebApplication1.Models.Games

@{
    ViewData["Title"] = "Crear juego";
}

<h1>Crear</h1>

<h4>Juego</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="CreateGame">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Percent_Rent" class="control-label"></label>
                <input asp-for="Percent_Rent" class="form-control" />
                <span asp-validation-for="Percent_Rent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reward_Cooler_Coins" class="control-label"></label>
                <input asp-for="Reward_Cooler_Coins" class="form-control" />
                <span asp-validation-for="Reward_Cooler_Coins" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <table class="justify-content-xl-between">
                        <tr>
                            <td>Categorias</td>
                            @{
                                int cnt = 0;
                                List<WebApplication1.Models.CoolerViewModels.AssignedGenreData> genres = ViewBag.Genres;

                                foreach (var genre in genres)
                                {
                                    if (cnt++ % 1 == 0)
                                    {
                                    @:</tr><tr>
                                    }
                                    @:<td>
                                        <input type="checkbox"
                                               name="selectedGenres"
                                               value="@genre.IdGenre"
                                               class="form-check-input"
                                               @(Html.Raw(genre.Assigned ? "checked=\"checked\"" : "")) />
                                        @genre.Title
                                    @:</td>
                                }
                            @:</tr>
                            }
                        </table>
                    </div>
                </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver al listado</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
