@{
    ViewData["Title"] = "Home Page";
}

<body>
        <header id="hero" style="background: url(images/bg.jpg) top left; background-size: cover;" >
            <div class="color">
                    <div class="row">
                        <div class="col-6 text-center padding">
                            <h2>Grupo Número 1</h2>
                            <p>Trabajo Práctico Programación Avanzada II</p>
                            <p><a href="" class="btn btn-primary btn-md disabled"></i>Biglieri, Espíndola, Gosch, Martinez Germain,<br> Mastrángelo, Montano</a></p>
                        </div>

                        <div class="col-6">
                             <img src="~/images/logo.png" />
                        </div>
                    </div>
                </div>
            </div>
        </header>
</body>
